body {
    background-color: darkgreen;
}

#titleSection {
    grid-area: titleSection;
}

#mainSection {
    grid-area: mainSection;
}

#decisionSection {
    grid-area: decisionSection;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'titleSection titleSection titleSection'
    'mainSection mainSection mainSection'
    'decisionSection decisionSection decisionSection';
    padding: 20px;
}

.grid-container > div {

    text-align: center;
    padding: 20px;
    font-size: 20px;
}

#titleSection {
    text-align: center;
}

#rulesButton {
    width: 100%;
    height: 50px;
    text-align: left;

    background-color: #0a800c;
    color: white;
    border: 1px solid black;
}
.rules {
    text-align: left;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #2fbd32;
    color: #333;
    border: 1px solid black;

}

#endGame {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.endGameMessage {
    background-color: #70ba71;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

}
#mainSection {
    text-align: center;
}

#decisionSection {
    text-align: center;

}

.displayedCards {
    padding: 2px;
    margin: 3px;
    width: 70px;
    height: auto;
}

.clickedCard {
    border-radius: 5px;
    border: 2px solid goldenrod;
}

#discardButton {
    width: 200px;
    height: 40px;
    margin: 10px;
}

#opponentSection {
    grid-area: opponentSection;
    text-align: center;

}

#deckSection {
    grid-area: deckSection;
    text-align: center;

}

#userSection {
    grid-area: userSection;
    text-align: center;

}

.mainGridContainer {
    display: grid;
    grid-template-areas:
    'opponentSection'
    'deckSection'
    'userSection';

}

.mainGridContainer > div {

    text-align: center;
    padding: 20px;
    font-size: 20px;

}

@media screen and (max-width: 600px) {
    .mainGridContainer > div {
        font-size: 30px;
    }

    .grid-container > div {
        font-size: 30px;
    }

    .displayedCards {
        width: 55px;
        height: auto;
    }
}

.activePlayer {
    border: 3px solid yellow;
    border-radius: 5px;
}
