body {
    background-color: darkgreen;
}

#titleSection {
    grid-area: titleSection;
}

#mainSection {
    grid-area: mainSection;
}

#decisionSection {
    grid-area: decisionSection;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'titleSection titleSection titleSection'
    'mainSection mainSection mainSection'
    'decisionSection decisionSection decisionSection';
    padding: 20px;
}

.grid-container > div {

    text-align: center;
    padding: 20px;
    font-size: 20px;
}

#titleSection {
    text-align: center;
}

#mainSection {
    text-align: center;
}

#decisionSection {
    text-align: center;

}

.displayedCards {
    padding: 2px;
    margin: 3px;
    width: 45px;
    height: auto;
}

.clickedCard {
    border-radius: 5px;
    border: 2px solid goldenrod;
}

#discardButton {
    width: 200px;
    height: 40px;
}

#opponentSection {
    grid-area: opponentSection;
    text-align: center;

}

#deckSection {
    grid-area: deckSection;
   text-align: center;

}

#userSection {
    grid-area: userSection;
    text-align: center;
  
}

.mainGridContainer {
    display: grid;
    grid-template-areas:
    'opponentSection'
    'deckSection'
    'userSection';

}

.mainGridContainer > div {

    text-align: center;
    padding: 20px;
    font-size: 20px;

}

@media screen and (max-width: 600px) {
    .mainGridContainer > div {
        font-size: 30px;
    }

    .grid-container > div {
        font-size: 30px;
    }

    .displayedCards {
        width: 55px;
        height: auto;
    }
}

