#titleSection {
    grid-area: titleSection;
}
#mainSection {
    grid-area: mainSection;
}
#decisionSection {
    grid-area: decisionSection;
}
.grid-container {
    display: grid;
    grid-template-areas:
    'titleSection titleSection titleSection'
    'mainSection mainSection mainSection'
    'decisionSection decisionSection decisionSection';
}
.grid-container > div {

    text-align: center;
    padding: 20px;
    font-size: 20px;
}
#titleSection {
    text-align: center;
}
#mainSection {
    text-align: center;
}
#decisionSection {
    text-align: center;
}

.card {
    width: 50px;
    height: auto;
}
.clickedCard {
    box-shadow: 0 0 20px blue;
    border: 2px solid blue;
}

#opponentSection{
    grid-area: opponentSection;
    text-align: center;
}
#deckSection{
    grid-area: deckSection;
    text-align: center;
}
#userSection{
    grid-area: userSection;
    text-align: center;
}
.mainGridContainer {
    display: grid;
    grid-template-areas:
    'opponentSection'
    'deckSection'
    'userSection';
}

.mainGridContainer > div {

    text-align: center;
    padding: 20px;
    font-size: 20px;
}

@media screen and (max-width: 600px){
    .mainGridContainer > div {
        font-size: 30px;
    }
    .grid-container > div {
        font-size: 30px;
    }
    .card {
        width: 50px;
        height: auto;
    }
}